html {
    font-family: 'Glacial Indifference', sans-serif;
    background: linear-gradient(to bottom right, #000000, #7f3f98); /*Background gradient */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
body{
    padding:0;
    margin-left: -30%;
    margin-top: 0;
}
.logo{
    position: relative;
    width: 65%;
    margin-left: 18%; 
}
.login-box {
    position:relative;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 5%;
    padding-right: 10%;
    background: #ccc9ce; /* Light purple background */
    border-radius: 40px;
    width: 100%px;
    height: 550px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    color: #3b0056;
    opacity: 90%;
}

input[type=text]{
    font-size: 30px;
    color:#d1ccd3;
    padding: 10px;
    width: 102%;
    border-style: dotted;
    border: #d1ccd3;;
    border-radius: 30px;
    display: block;
}
input[type=email]{
    font-size: 30px;
    color:#d1ccd3;
    padding: 10px;
    width: 102%;
    border-style: dotted;
    border: #d1ccd3;;
    border-radius: 30px;
    display: block;
}
input[type=password]{
    font-size: 30px;
    color:#d1ccd3;
    padding: 10px;
    width: 102%;
    border-style: dotted;
    border: #000000;
    border-radius: 30px;
    display: block;
}
.input-group {
    text-align: left;
    border-radius: 5%;   
    margin-bottom: 15px;
    padding-top: 5px;
    /* margin-top: 30px;
    padding-bottom: 10px; */
}

.input-group label {
    padding-top: 5px;
    font-size: 30px;
    font-weight: 900;
    color: #431464;
    display: block;
    /* margin-top: 30px;
    margin-bottom: 5px; */
}
.login-button {
    display: block;
    font-size: 25px;
    font-weight: bold;
    background: linear-gradient(270deg, #432d4b, #7c3e94); /*Background gradient */
    background-size: 150%;
    background-position: middle;
    color: rgb(255, 255, 255);
    border: none;
    padding: 25px;
    border-radius: 15px;
    margin: auto;
    width: 55%;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 10px;
    transition: 300ms background-position ease-in-out;
}
.login-button:hover {
    color: #f4d8ff; 
    background-position: right;
}
.sign-up-text {
    padding: 0px;
    font-size: 20px;
    margin-top: 5px;
    color: #431464;
    align-self: center;
    margin-left: 35%;
}
.or-divider {
    color: #999;
    font-size: 0.9rem;
    padding: 0%;
    margin:0 0 0 52%;
}
.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.gg,
.fb {
    margin-left: 5%;
    width: 200px;
    height: 30px;
    padding-top: 10px;
    background-color: #00000023;
    color: #ffffff;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 450ms;
}
.gg:hover,
.fb:hover {
    background-color: #00000036;
}
.bg-phone{
    position: absolute;
    width: 25%;
    right: 5%;
    bottom: -10%;
    z-index: -1;
    display:flex;
    opacity: 80%;
}
.img-btmright {
    position: absolute;
    bottom: -20%; 
    right: -17%; 
    width: 45%; 
    z-index: 2;
    display:flex;
}